<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LULU_ModelContainer" connectionString="metadata=res://*/LULU_Model.csdl|res://*/LULU_Model.ssdl|res://*/LULU_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=lulu.cwtmlv0p26tw.eu-west-1.rds.amazonaws.com,1433;initial catalog=LULU_DB;user id=lulu;password=Ashaman1982;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>